[localhost]
localhost ansible_host=<target_ip> ansible_port=22 ansible_user=<target_user> ansible_password=<target_passwd> ansible_connection=ssh ansible_become_password=<target_passwd> ansible_ssh_common_args='-o StrictHostKeyChecking=no'